@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

body {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1
h2
h3
h4{
  font-weight: 400;
}

header {
  text-align: center;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li a {
  display: block;
  border: 1px solid;
  border-color: #000;
  border-radius: .5em;
  padding: .5em 1em;
  margin: .5em;
  text-decoration: none;
  background-color: #540e58;
}

nav a:hover {
  background-color: #cca1cf;
}

nav a:link {
  color: #fff;
}

nav a:visited {
  color: #fff;
}

nav a:active{
  color: #fff;
}

main img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding-top: 30px;
  width: 400px;
}

main img p{
  width: 400px;
}

#who-am-i img{
  width: 350px;
}

#who-am-i figure{
  float: right;
  margin: 0;
  margin-left: 10px;
  margin-bottom:15px;
}

#high-school-tennis img{
  float: right;
  margin: 0;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 240px
}

h3 {
  color: #cca1cf;
}
